*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eceff1;
  font-family: Roboto, sans;
}
.container {
  width: 100%;
}
.game {
  width: 450px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cell > label {
  position: relative;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  background-color: #455a64;
  margin: 5px;
  border: 10px solid #546e7a;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 350ms ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cell > label:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.cell > input[type="checkbox"] {
  display: none;
}
.cell > input[type="checkbox"]:checked ~ label {
  transform: rotateY(180deg);
}
.cell > label:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 140px;
  height: 140px;
  transform: rotateY(180deg);
  border: 10px solid transparent;
  font-size: 80px;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  transition: border-color, color 250ms ease;
}
.cell.tic > label:after {
  content: "\2715";
  border-color: #66bb6a;
  color: #66bb6a;
}
.cell.tac > label:after {
  content: "\26AA";
  border-color: #81d4fa;
  color: #81d4fa;
}
.win-line > label:after {
  border-color: #ffab91 !important;
  color: #ffab91 !important;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(38, 50, 56, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 350ms ease;
}
.mod-container {
  width: 60%;
  max-width: 800px;
  min-width: 600px;
  background-color: #546e7a;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.mod-header {
  width: 100%;
  background-color: #455a64;
  font-size: 2em;
  padding: 8px;
  text-align: center;
}
.mod-body {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.6em;
}
.mod-footer {
  min-height: 50px;
  background-color: #455a64;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.mark-switch {
  display: flex;
  margin-left: 5px;
}
.mark > label {
  background-color: transparent;
}
.mark > input[type="radio"] {
  display: none;
}
.mark > input[type="radio"]:checked ~ label {
  border: 2px solid rgba(236, 239, 241, 0.7);
  padding: 4px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.play-order {
  display: flex;
}
.btn {
  font-size: 1.2em;
  background-color: #546e7a;
  padding: 6px 10px;
  margin-left: 4px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btn:hover {
  background-color: #263238;
}